<ng-container *ngIf="!gameStarted; else gameContainer">
  <app-game-start (gameStarted)="onGameStarted()"></app-game-start>
</ng-container>

<ng-template #gameContainer>
  <div class="game-container">
    <app-actions [gameService]="gameService"></app-actions>
    <app-info></app-info>
    <ng-container *ngIf="currentLevel === 1">
      <app-floresta-elfica (choiceMade)="onChoiceMade($event)"></app-floresta-elfica>
    </ng-container>

    <ng-container *ngIf="currentLevel === 2">
      <app-montanhas-sombrias (choiceMade)="onChoiceMade($event)"></app-montanhas-sombrias>
    </ng-container>

    <ng-container *ngIf="currentLevel === 3">
      <app-fortaleza-gorgoroth (choiceMade)="onChoiceMade($event)"></app-fortaleza-gorgoroth>
    </ng-container>

    <div class="result-box">
      <p class="action-result text-white" *ngFor="let result of actionResults">{{ result }}</p>
    </div>
  </div>
</ng-template>
