.game-info {
  margin: 0.5rem auto 0;
  padding: 10px 30px;
  width: 50%;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
}

.hero-orc .col-6 {
  padding-bottom: 5px;
}

.hero-orc .col-6:first-child {
  .name {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.hero-orc .col-6:last-child {
  text-align: right;

  .name {
    font-weight: 600;
    text-transform: uppercase;
  }
}

p {
  padding: 0;
  margin: 0.3rem;

  .class-person {
    font-weight: 200;
  }
}

pre {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0;
  margin: 0;
}

.result-box {
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 5px;
  border: 1px solid #444;
  color: #fff;
  background-color: rgba(34, 34, 34, 0.5);
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.result-box::-webkit-scrollbar {
  width: 0.5rem;
}

.result-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.action-result {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-result span {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.hero-message {
  color: #c5fbff;
}

.critical-hero-message {
  color: #00eeff;
}

.orc-message {
  color: #ff9494;
}

.critical-enemy-message {
  color: #ff0000;
}

.hp-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #777;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.hp-fill {
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.3);
  border-radius: 5px;
}

.hp-text {
  font-size: 0.8em;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.empty-hp-fill {
  width: 0%;
}
