<div class="game-info text-center">
  <div class="hero-orc">
    <p>Paladino: <span>{{ hero?.health }}</span></p>
    <p>Orc: <span>{{ enemy?.health }}</span></p>
  </div>
  <div class="result-box" #resultBox>
    <div *ngFor="let result of actionResults">
      <p class="action-result"
      [class.hero-message]="result.includes(hero.name)"
      [class.orc-message]="result.includes(enemy.name)"
      [class.critical-message]="result.includes('crítico')">
        {{ result }}
      </p>
    </div>

  </div>
</div>
