<div class="loading-container" *ngIf="showLoading; else gameContainer">
  <div class="loading-spinner"></div>
</div>

<ng-template #gameContainer>
  <div class="container-mythical-forest">
    <div class="actions text-center">
      <div>
        <p class="mb-3">O que vai fazer?</p>
      </div>
      <div>
        <button class="btn btn-dark m-2" *ngIf="!isGameOver" [disabled]="!isHeroTurn" (click)="attack()">Atacar</button>
        <button class="btn btn-dark m-2" *ngIf="!isGameOver" [disabled]="!isHeroTurn" (click)="defend()">Defender</button>
        <button class="btn btn-dark m-2" *ngIf="!orcIsDead && isGameOver" (click)="home()">Home</button>
        <button class="btn btn-dark m-2" *ngIf="orcIsDead" (click)="nextPhase()">Seguir</button>
      </div>
    </div>

    <div>
      <app-actions-battle></app-actions-battle>
    </div>
    <button class="btn btn-dark m-2" (click)="home()">Home</button>
  </div>
</ng-template>
